<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.vilhena.listit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".atividades.OrdenaProdutosCompra"></activity>
        <activity android:name=".atividades.ProdutoCompraOrdenado" />
        <activity android:name=".atividades.ProdutoCompraPesquisado" />
        <activity android:name=".atividades.PesquisaProdutosCompra" />
        <activity android:name=".atividades.ListaCompra" />
        <activity android:name=".atividades.RemoveLista" />
        <activity android:name=".atividades.VerListas" />
        <activity android:name=".atividades.EditaProduto" />
        <activity android:name=".atividades.EspecificacaoProdutoPesquisado" />
        <activity android:name=".atividades.EspecificacaoProdutoOrdenado" />
        <activity android:name=".atividades.EspecificacaoProduto" />
        <activity android:name=".atividades.ProdutoExistentePesquisado" />
        <activity android:name=".atividades.PesquisaProdutosExistentes" />
        <activity android:name=".atividades.RemoveProdutoLista" />
        <activity android:name=".atividades.ProdutoExistente" />
        <activity android:name=".atividades.NovoProduto" />
        <activity android:name=".atividades.MenuAdicionarProduto" />
        <activity android:name=".atividades.GuardarLista" />
        <activity android:name=".atividades.EscolheListaImportada" />
        <activity android:name=".atividades.NovaLista" />
        <activity android:name=".atividades.MenuCriarLista" />
        <activity android:name=".atividades.VerProdutosOrdenados" />
        <activity android:name=".atividades.OrdenaProdutos" />
        <activity android:name=".atividades.VerProdutosPesquisados" />
        <activity android:name=".atividades.PesquisaProdutos" />
        <activity android:name=".atividades.VerProdutos" />
        <activity android:name=".atividades.RemoveUnidade" />
        <activity android:name=".atividades.NovaUnidade" />
        <activity android:name=".atividades.VerUnidades" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>